<ion-header>
  <ion-toolbar>
    <ion-title>control de peso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card rgb">
      <div class="card-image"></div>
      <div class="card-text">
        <span class="date">Edad 1-5 años</span>
        <h2>
          Repeticiones:
          </h2>
          <p>
            60 repeticiones
          </p>
          <h2>
            Tiempo:
            </h2>
            <p>
              10-15 minutos
            </p>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="card rgb">
      <div class="card-image card2"></div>
      <div class="card-text card2">
        <span class="date">Abdominales</span>
        <p>
          Acostarse en el suelo con las rodillas alzadas y las manos detrás de la cabeza, posterior a esto, alzar la espalda y abdomen acercándose a las piernas       
   </p>
   <h2>
    Repeticiones:
    </h2>
    <p>
      50 repeticiones
    </p>
    <h2>
      Tiempo:
      </h2>
      <p>
        5-10 minutos
      </p>
      </div>
    </div>
  </ion-card>
  <br>
  <ion-card>
    <div class="card rgb">
        <div class="card-image card3"></div>
        <div class="card-text card3">
          <span class="date">Sentadillas</span>
          <p>
            Ponerse de pie, estirar los brazos y, manteniendo la postura, bajar el cuerpo flexionando las rodillas
          </p>
          <h2>
            Repeticiones:
            </h2>
            <p>
              45 repeticiones
            </p>
            <h2>
              Tiempo:
              </h2>
              <p>
                3-5 minutos
              </p>
        </div>
    </div>
  </ion-card>

</ion-content>
