<ion-header>
  <ion-toolbar>
    <ion-title>recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card rgb">
      <div class="card-image"></div>
      <div class="card-text">
        <span class="date">Croquetas de Atún</span>
        <p>
          1 Sobre Crema De Tomate
          <br>
          3 tazas de agua
          <br> 
          3 Latas de Atún medianas en Agua, drenadas
          <br>
          1/3 Taza Perejil Fresco
          <br>
          1/2 Taza Cebolla Larga 
          <br>
          1 Cucharadita Mostaza
          <br>
          2 Unidades Huevo 
          <br>
          1 Taza Miga De Pan
          <br>
          1 Cucharadita Ajo En Polvo
          <br>
          2 Cucharaditas Cebolla en polvo
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="card rgb">
      <div class="card-image card2"></div>
      <div class="card-text card2">
        <span class="date">Rollos de Lechuga</span>
        <p>
        1/2 sobre de base líquida para sopas de vegetales
        <br>
        1/2 Cucharadita Cebolla en polvo
        <br>
        1/4 Cucharadita Ajo en polvo
        <br>
        3/4 taza de agua
        <br>
        1 Cucharada Fécula de maíz
        <br>
        1 1/2 taza de pechuga de pollo (cocinado)
        <br>
        1 Pieza Brócoli cocido y picado
        <br>
        4 Hojas Lechuga romana grandes, lavadas y desinfectadas ( 20 g c/u )
        <br>
        1/2 taza de leche evaporada 
      </div>
    </div>
  </ion-card>
  <br>
  <ion-card>
    <div class="card rgb">
        <div class="card-image card3"></div>
        <div class="card-text card3">
          <span class="date">Papas con Mayo</span>
          <p>
            4 papas hervidas, peladas y cortadas en cubitos
            <br>
            2 zanahorias ralladas
            <br>
            2 tazas de lechuga cortada
            <br>
            1 diente de ajo
            <br>
            1 limón
             </p>

        </div>
    </div>
  </ion-card>
</ion-content>
