<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="ejercicios">
        <ion-icon name="barbell"></ion-icon>
        ejercicios
      </ion-tab-button>
      <ion-tab-button tab="peso">
        <ion-icon name="heart-half"></ion-icon>
        Control de Peso
      </ion-tab-button>
      <ion-tab-button tab="recetas">
        <ion-icon name="book"></ion-icon>
        Recetas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-app>